@import '../../../base-styles/globals.scss';

.use-reducer {
  max-width: $body-width;
  margin: 60px auto;
    
  .input-name {
    padding: 8px;
    border-radius: 4px;
    line-height: 1.25;
    font-size: 16px;
    margin: 20px 0;

  }

  button {
    margin: 12px;
    padding: 12px;
    background-color: $secondary-color;
    color: $primary-color;
    border: none;
    border-radius: 4px;

    @include heading-small-bold;
  }

  &__todo {
    display: flex;
    align-items: center;
  }

  .todo-item {
    max-width: 150px;
    width: 100%;
  }

  p {
    padding: 12px 0;
  }
}