@import '../../../base-styles/globals.scss';

.use-memo {
  max-width: $body-width;
  margin: 60px auto;

  input {
    margin: 40px 12px 40px auto;
    padding: 16px;

    @include heading-3;
  };

  p {
    @include heading-2;
  }
}