.btnNewPost {
  padding: 10px 20px;
  border: none;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnNewPost:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}