.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 32px;
}

.label {
  margin-bottom: 8px;
  font-weight: bold;
}

.description,
.author {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.description {
  height: 100px; /* You may adjust the height as needed */
}

.submit-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #45a049;
}
